PORT= 9000

DB_HOST=localhost
DB_PORT=5432
DB_USER= DB_USER
DB_PASSWORD= DB_PASSWORD
DB_NAME=go-lang
DB_SSLMODE=disable
DATABASE_URL=postgres://postgres:postgres@localhost:5432/go-lang?sslmode=disable